@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #9a0d41, rgb(125, 11, 47));
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

main {
    background: rgba(0, 0, 0, 0.073);
    width: 72vw;
    height: 100vh;
    transform: translate(20%, 0%);
}

#logotipo {
    width: 50%;
    height: 50%;
    transform: translate(50%, -30%);
    }

.artigo {
    background-color: rgba(255, 255, 255, 0.722);
    border-radius: 10px;
    width: 45%;
    height: 20%;
    transform: translate(104%, -182%);
}

#imgmulher {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: 40%;
    height: 20%;
    transform: translate(9.5%, -72%);
}

#titulo1 {
    color: white;
    transform: translate(46%, 210%);
}

#paragrafo1 {
    font-size: 50%;
    padding: 5%;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-indent: 1em;
    transform: translate(0%, 0%);
}

