@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #9a0d41, rgb(125, 11, 47));
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

main {
    background: rgba(0, 0, 0, 0.073);
    width: 72vw;
    height: 100%;
    transform: translate(20%, 0%);
}

#logotipo {
    width: 50%;
    height: 50%;
    transform: translate(50%, -30%);
    }

#imgmulher {
    width: 300px;
    height: 300px;
    text-align: center;
    transform: translate(105%, -175%);
}

#titulo1 {
    color: white;
    transform: translate(46%, 210%);
}

#paragrafo1 {
    padding: 80px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    color: rgb(0, 0, 0);
    text-align: left;
    transform: translate(0%, 0%);
}

#titulo2 {
    color: white;
    transform: translate(46%, 210%);
}

#paragrafo2 {
    padding: 80px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    color: rgb(0, 0, 0);
    text-align: left;
    transform: translate(0%, 0%);
}